Package: com.krb.discovery
Name: KRB Discovery
Version: 1.0.0
Architecture: iphoneos-arm64
Description: KRB Discovery Tool
Maintainer: KRB Team
Author: KRB Team
Section: Tweaks
Depends: mobilesubstrate
